HOST=0.0.0.0
PORT=1337
APP_KEYS=tTdFE6wxoYHDlyV2oM0Wbg==,sK7Obl3cqV5S60czwqaQbg==,EOH/gxMbV5BAvmNex8Mq4A==,Wl80aF4PnymEpNLkzpH/8g==
API_TOKEN_SALT=8vUxAWkzDdvcg1vHnoiL8g==
ADMIN_JWT_SECRET=xp5KDY/gEXA/FQzgZEZ4ew==
TRANSFER_TOKEN_SALT=DB4OGZrQTK9HD0h7bh1JGg==
# Database
DATABASE_CLIENT=sqlite
DATABASE_FILENAME=.tmp/data.db
JWT_SECRET=rQRNTBlnRt8+ni1AqqmnGA==
